.q_pic{width: 100%;
       padding: 15px 0;}
.q_pic img{width: 24%;}
.q_block{margin:0 15px 10px;
         background: #FFFFFF;
         -webkit-border-radius: 5px;
         border-radius: 5px;
         }
.q_title{font-size: 16px;
         color: #b69562;
         padding: 10px 10px 10px 30px;
         border-bottom: 1px solid #efefef;
         position: relative;}
.q_title span{position: absolute;
              left: 10px;
              top: 9px;}
.q_detail{padding: 10px;
          color: #000000;
          }
.wrapper-padding-bottom-60{
	padding-bottom: 60px;
}
.downloadDiv{
	height: 60px;
    display: flex;
    align-items: Center;
    background-color: #EAEAEA;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}
.logo{
    width: 45px;
    margin-left: 5%;
	}
.appname{
	font-size: 15px;
    font-weight: bold;
    margin-left: 2%;
    }
.appinfo{
	margin-left: 5%;
	}
.downloadButton{    
	height: 30px;
    margin-left: 8%;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 8px;
    width: 90px;
    color: #EAEAEA;
    background-color: #DA251D;
    text-align: center;
    line-height: 29px;
    }
          