ul,li {
	list-style: none;
}

input {
	vertical-align: middle;
	font-size: 18px;
}

.back {
	overflow: hidden;
	width: 100%;
	background: url(../images/img/Login_back.jpg) no-repeat center center
		fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.xitong {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -165px;
	margin-left: -228px;
	width: 457px;
	height: 330px;
	background: url(../images/img/Login_03.png);
}

.pai {
	position: absolute;
	top: 40px;
	margin-left: 230px;
}

.xitong .pai .pinpai .guanli {
	display: inline-block;
	width: 19px;
	height: 19px;
	vertical-align: middle;
	margin-left: 60px;
	margin-right: 10px;
}

.fc-white {
	color: #FFF;
	font-size: 14px;
}

.text {
	height: 205px;
	margin-top: 100px;
	margin-left: -7px;
}

.list {
	position: relative;
	width: 100px;
	line-height: 5px;
	height: 32px;
	margin-bottom: 15px;
}

.listing {
	position: relative;
}

.listing span {
	position: absolute;
	top: 6px;
	left: 6px;
	display: block;
}

.left {
	float: left;
}

.list_size {
	width: 356px;
	height: 32px;
}

.yzm {
	margin-top: 20px;
	height: 35px;
	width: 396px;
}

.yzm_text {
	width: 94px;
	height: 35px;
	margin-left: 10px;
	margin-top: -25px;
	border: none;
	padding: 0px;
	border-radius: 3px;
}

.button {
	margin-right: 10px;
	width: 133px;
	height: 34px;
	border-radius: 3px;
	border: none;
	background: url(../images/img/button_blue.png);
	float: right;
	margin-top: 2px;
}

.botom {
	border-radius: 3px;
	background: rgba(255, 255, 255, 0.1) none repeat scroll 0 0 !important;
	/*实现FF背景透明，文字不透明*/
	filter: Alpha(opacity = 50);
	background: #fff; /*实现IE背景透明*/
	border-style: inset;
	border: none;
	box-shadow: #4F4F4F 0px 1px inset;
	border-bottom: 1px #FFFFFF solid;
}

.pad_left {
	padding-left: 30px;
}

.wh18 {
	width: 18px;
	height: 18px;
}