*{
	margin: 0;
	padding: 0;
	font-family: verdana, Microsoft YaHei, Tahoma, sans-serif;
	-webkit-touch-callout:none;
}
ul,li,dl,dd {
    list-style: none;
}
img{
	max-width: 100% !important;
}
video{
	max-width: 100% !important;
}
a,a:active,a:visited,a:hover,a:link{ 
	text-decoration:none;
}
html .hide{ display:none;}
fieldset,img{ border:0;}

.bg_7f7{
	background: #f7f7f7;
}

.bg_8f8{
	background-image: url('../img/web/qr_back.png');
}

/*header*/
.header{
	width: 100%;
	height: 50px;
	background: #366bb4;
	font-size: 21px;
	color: #FFFFFF;
	line-height: 50px;
	text-align: center;
}
.return{
	position: absolute;
	left:5%;
}
.return img{
	margin-top: 15px;
	height:21px;
}

.content{
	width: 96%;
	position: relative;
	left:2%;
	right:2%;
}
.gg_div{
	width: 94%;
	margin:3%;
}
.gg_ul li{
	font-size: 15px;
	color: #666666;
	background: #FFFFFF;
	padding: 10px;
	line-height: 21px;
	margin-bottom: 10px;
	border: 1px solid #e8e8e8;
}
.gg_li_time{
	font-size: 14px;
	color: #999999;
	text-align: right;
	margin-bottom: 5px;
}
.arrow_div{
	text-align: center;
	padding-top: 10px;
}
.img_top{
	width: 10%;
	/*display: none;*/
}
.img_down{
	width: 10%;
}




.btu_div{
	text-align: center;
}
.button_sf{
	width: 295px;
	margin: 15px auto;
	text-align: center;
	font-size: 16px;
	color: #FFFFFF;
	background: #f4bf1e;
	display: inline-block;
	height: 47px;
	line-height: 47px;
	border-radius: 4px;
}
.csf_div{
	border: 1px solid #E8E8E8;
	background: #FFFFFF;
	color: #666666;
	font-size: 15px;
	padding: 0 3%;
	margin-bottom: 20px;
}
.csf_p{
	height: 45px;
	line-height: 45px;
	
}
.csf_span{
	float: right;
	color: #999999;
}
.line_div{
	height: 1px;
	background: #f3f3f3;
	width: 94%;
	margin-left: 3%;
}

.csf_span_red{
	color: #c8422c;
	float: right;
}
.csf_qz{
	font-size: 15px;
	color: #666666;
	margin-left: 8%;
	margin-top: 25px;
	margin-bottom: 10px;
}
.csf_bz{
	font-size: 14px;
	color: #999999;
	margin-left: 8%;
}
.csf_table{
	margin: 0 auto;
	margin-bottom: 50px;
	background: #FFFFFF;
	font-size: 14px;
	color: #999999;
}
.csf_table tr td{
	  border: 1px solid #ececec;
  width: 160px;
  height: 35px;
  text-align: center;
}

.shjf_ul{
	width: 100%;
	margin-top: 50px;
}
.shjf_ul li{
	width: 33%;
	float: left;
	text-align: center;
	font-size: 17px;
	color: #333333;
	margin-bottom: 25px;
}
.shjf_lable img{
	width: 100%;
	margin-bottom: 6px;
}
.shjf_lable{
	width: 68px;
	display: inline-block;
}
.shjf_lable span{
	color: #333333;
}
.sjxq_img_div{
	position: relative;
}
.img_sjxq{
	width: 100%;
}
.sjxq_img_title{
	position: absolute;
	bottom: 15px;
	left: 3%;
	color: #FFFFFF;
	font-size: 17px;
}
.sjxq_div{
	height: 50px;
	line-height: 50px;
	font-size: 15px;
	color: #999999;
	padding: 0 3%;
	background: #FFFFFF;
	border: 1px solid #E8E8E8;
}
.sjxq_div span{
	color: #666666;
}
.sjxq_mabom{
	margin-bottom: 10px;
}
.border_bom{
	border-bottom: none;
}

.bz_div{
	margin: 25px 4%;
	width: 92%;
	font-size: 13px;
	color: #666666;
	line-height: 23px;
}
.bz_div p,.gywm_div p{
	margin-bottom: 10px;
}

.gywm_div{
	margin: 20px 13%;
	font-size: 13px;
	color: #666666;
	line-height: 23px;
}
.gywm_logo{
	text-align: center;
	margin-bottom: 20px;
	margin-top: 35px;
}
.gywm_img{
	width: 60%;
}
