*{
	padding: 0;
	margin: 0;
	font-family: "微软雅黑";
}
html body{height: 100%;}
a,a:active,a:visited,a:hover,a:link{ text-decoration:none;}
.a-w,.a-w:active,.a-w:visited,.a-w:hover,.a-w:link{color:#FFFFFF;}
a {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}
.mainbox{
    position: relative;
   width: 320px;
    height: 504px;
   /* overflow: hidden;*/
}
.header{
	height: 63px;
	width: 100%;
	background: #ffffff;
	color: #0068b7;
	font-size: 18px;
	text-align: center;
	line-height: 63px;
}
.return{
	float:left;
	margin-top: 21px;	
	width:11px;
	height:20px;
	position: absolute;
	left:3%;
}
.bg{
	height: 100%;
	width:100%;
	position: fixed;
	box-sizing: border-box;
	background:url(../../img/web/bg.png);
	background-size:100% 100%;
}
.a-switch{
	width:130px;
	height: 44px;
	background: #FFFFFF url(../../img/web/switch.png) no-repeat center center;
	opacity: 0.5;
	display: inline-block;
	border:1px solid #90cf69;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	float:left;
	box-shadow:0px 0px 1px 1px #eff8e8 inset;
	border-right: 2px solid #90CF69;
}
.a-points{
	width:130px;
	height: 44px;
	background: #FFFFFF url(../../img/web/points.png) no-repeat center center;
	opacity: 0.5;
	display: inline-block;
	border:1px solid #90cf69;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border-left: none;
	float:left;
	box-shadow:0px 0px 1px 1px #eff8e8 inset;
}
.content{
	text-align: center;
}
.awrap{
	width:266px;
	text-align: center;
	height: 44px;
	margin:auto;
	margin-top: 55px;
}
.sjwrap{
	width:206px;
	height: 206px;
	margin-top: 76px;
}
.img-sj-top{
	position: absolute;
	margin-top: 115px;
	left: 50%;
	margin-left: -23px;
}
.img-sj-left{
	position: absolute;
	margin-top:185px;
	left:20%;
}
.img-sj-right{
	position: absolute;
	right: 20%;
	margin-top:185px;
}
.img-sj-bottom{
	position: absolute;
	margin-top: 250px;
	left: 50%;
	margin-left: -23px;
}
/*controlPage.html*/
.page{
	background: url(../../img/web/bg_page.png);
}
.bg-page{
	width:75px;
	height: 75px;
	background: #b0d1f1;
	border:1px solid #4da3f6;
	padding-top: 22px;
	box-sizing: border-box;
}
.ul-page{
	margin-left: 80px;
	margin-top: 25px;
}
.ul-page li{
	list-style: none;
	float:left;
	margin-right: 2px;
	width:75px;
	height: 75px;
	padding-top: 15px;
	box-sizing: border-box;
}
.ul-page:after{display: block;content: "";clear: both;}
.margin50{
	margin-top: 50px;
}
.ul-cj{
	margin-top: 65px;
	margin-left: 9px;
	margin-right: 9px;
}
.ul-cj li{
	list-style: none;
	float:left;
	width:33.33%;
}
