* {
  margin: 0;
  padding: 0;
  font-family: "Microsoft YaHei";
}
body {
  background: #fff;
}
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  z-index: 2;
  background: #ffcc33;
  line-height: 40px;
  vertical-align: middle;
  text-align: center;
  font-size: 16px;
  color: #fff;
}
#wrapper {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  background: #ccc;
  overflow: hidden;
}
#wrapper #scroller {
  position: absolute;
  z-index: 1;
  width: 100%;
  transform: translateZ(0);
  user-select: none;
  text-size-adjust: none;
}
#wrapper #scroller #pullDown {
  width: 100%;
  height: 40px;
  line-height: 40px;
  vertical-align: middle;
  text-align: center;
  margin-top: -40px;
}
/*#wrapper #scroller ul {
  list-style: none;
  width: 100%;
  text-align: left;
}
#wrapper #scroller ul li {
  padding: 0 10px;
  height: 40px;
  line-height: 40px;
  vertical-align: middle;
  font-size: 14px;
  background: #fff;
  border-bottom: 1px solid #ddd;
}*/
#wrapper #scroller #pullUp {
  width: 100%;
  height: 40px;
  line-height: 40px;
  vertical-align: middle;
  text-align: center;
  /*margin-bottom: -40px;*/
}
#spinner {
  display: none;
  width: 60px;
  height: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -30px;
  margin-left: -30px;
  z-index: 10;
  background: rgba(0, 0, 0, 0);
}
#spinner .double-bounce1,
#spinner .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #000;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: bounce 2s infinite ease-in-out;
  animation: bounce 2s infinite ease-in-out;
}
#spinner .double-bounce2 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}
@-webkit-keyframes bounce {
  0%,
  100% {
    -webkit-transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
  }
}
@keyframes bounce {
  0%,
  100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}
